#imageContainer {
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

#cardImage {
    height: 100%;
    width: auto;
}
